apiVersion: v1
kind: ConfigMap
metadata:
  name: loki
  namespace: mon-metric-loki
data:
  config.yaml: |

    auth_enabled: true
    chunk_store_config:
      chunk_cache_config:
        background:
          writeback_buffer: 500000
          writeback_goroutines: 1
          writeback_size_limit: 500MB
        default_validity: 0s
        memcached:
          batch_size: 4
          parallelism: 5
        memcached_client:
          addresses: dnssrvnoa+_memcached-client._tcp.loki-chunks-cache.loki-test.svc.cluster.local
          consistent_hash: true
          max_idle_conns: 72
          timeout: 2000ms
    common:
      path_prefix: /var/loki
      replication_factor: 3
      storage:
        s3:
          access_key_id: QGluQDdFxqs9pUj4SW70
          bucketnames: loki
          endpoint: 192.168.1.123:9000
          insecure: true
          s3forcepathstyle: true
          secret_access_key: eqaqq4RZ6ymB7X9KUq0D2xge8zcZLoY2p8r2yPJT
    frontend:
      scheduler_address: ""
      tail_proxy_url: ""
    frontend_worker:
      scheduler_address: ""
    index_gateway:
      mode: simple
    limits_config:
      allow_structured_metadata: true
      max_cache_freshness_per_query: 10m
      query_timeout: 300s
      reject_old_samples: true
      reject_old_samples_max_age: 168h
      retention_period: 672h
      split_queries_by_interval: 15m
      volume_enabled: true
    memberlist:
      join_members:
      - loki-memberlist.mon-metric-loki
    pattern_ingester:
      enabled: true
    querier:
      max_concurrent: 4
    query_range:
      align_queries_with_step: true
      cache_results: true
      results_cache:
        cache:
          background:
            writeback_buffer: 500000
            writeback_goroutines: 1
            writeback_size_limit: 500MB
          default_validity: 12h
          memcached_client:
            addresses: dnssrvnoa+_memcached-client._tcp.loki-results-cache.loki-test.svc.cluster.local
            consistent_hash: true
            timeout: 500ms
            update_interval: 1m
    ruler:
      storage:
        s3:
          access_key_id: QGluQDdFxqs9pUj4SW70
          bucketnames: loki-cluster
          endpoint: 192.168.1.123:9000
          insecure: true
          s3forcepathstyle: true
          secret_access_key: eqaqq4RZ6ymB7X9KUq0D2xge8zcZLoY2p8r2yPJT
        type: s3
      wal:
        dir: /var/loki/ruler-wal
    runtime_config:
      file: /etc/loki/runtime-config/runtime-config.yaml
    schema_config:
      configs:
      - from: "2024-04-01"
        index:
          period: 24h
          prefix: loki_index_
        object_store: s3
        schema: v13
        store: tsdb
    server:
      grpc_listen_port: 9095
      http_listen_port: 3100
      http_server_read_timeout: 600s
      http_server_write_timeout: 600s
    storage_config:
      aws:
        insecure: true
        s3: s3://QGluQDdFxqs9pUj4SW70:eqaqq4RZ6ymB7X9KUq0D2xge8zcZLoY2p8r2yPJT@192.168.1.123:9000/loki-chunks
        s3forcepathstyle: true
      bloom_shipper:
        working_directory: /var/loki/data/bloomshipper
      boltdb_shipper:
        index_gateway_client:
          server_address: dns+loki-backend-headless.loki-test.svc.cluster.local:9095
      hedging:
        at: 250ms
        max_per_second: 20
        up_to: 3
      tsdb_shipper:
        active_index_directory: /var/loki/index
        cache_location: /var/loki/index_cache
        index_gateway_client:
          server_address: dns+loki-backend-headless.loki-test.svc.cluster.local:9095
      use_thanos_objstore: false
    tracing:
      enabled: false

